/* === FONT FACES === */

@font-face {font-family: "Azo Sans";src: url(../fonts/AzoSans-Regular.otf);}
@font-face {font-family: "Azo Sans Md"; src: url(../fonts/AzoSans-Medium.otf);}
@font-face {font-family: "Azo Sans Bk";src: url(../fonts/AzoSans-Bold.otf);}
@font-face {font-family: "Azo Sans Lt"; src: url(../fonts/AzoSans-Light.otf);}
@font-face {font-family: "Azo Sans Tn";src: url(../fonts/AzoSans-Thin.otf);}




/* === GENERAL === */

body{font-family: "Azo Sans Lt", sans-serif; line-height: 1.6em; color: #747577; font-size: 13px; font-weight: normal; margin: 0;}
a{text-decoration: none;}

b, strong, h1, h2, h3, h4, h5, h6{font-weight: normal}
h1, h2, h3, h4, h5, h6{line-height: normal}
.regular{font-family: "Azo Sans",sans-serif}
.bold, strong{font-family: "Azo Sans Bk", sans-serif}
.medium, b{font-family: "Azo Sans Md", sans-serif}
.thin{font-family: "Azo Sans Tn", sans-serif}

.wrapper{max-width: 1264px; width: 100%; box-sizing: border-box; padding: 0 2px; margin: 0 auto; overflow: hidden;}
.clearfix:after, .clearfix::before {content: ""; display: table;}
.clearfix:after {clear: both;}




/* === HEADER === */

#header{height: 183px; padding: 40px 30px; box-sizing: border-box; overflow: hidden}
#logo{float: left}
#top-nav{float: right}
#top-nav ul{margin: 40px 0;  padding: 0}
#top-nav li{float: left; list-style: none; margin-left: 48px;}
#top-nav li a{font-size: 19px; color: #a3bcc4}
#top-nav li a:hover{color: #4d72ae}

/* === HOME SLIDER=== */

#home-slider{position: relative}
#slogan{letter-spacing: 39px; text-align: center; position: absolute; color: #FFF; width: 100%; top:5%; z-index: 100; font-size: 14px}
.slide-item{position: relative; overflow: hidden; line-height: normal; float: left}
.slide-bg img{width: 100%}
.slide-img,.slide-label{position: absolute}
.slide-img img{width: 100%}

.slide-label{top: 25%; color: #FFF; width: 30%}
.slide-title{font-size: 48px; margin: 0}
.slide-description{font-size: 24px}
.slide-sep{width: 25%; margin: 5% 0; height: 1px; background: #FFF;}

.slide-link{color: #FFF; background: url("../images/layout/link-arrow.png") right center no-repeat; padding-right: 16px; font-size: 19px}

#home-slide-1 .slide-img{width: 42.46031746031746%; bottom: 0; left: 30%}
#home-slide-1 .slide-label{right:10%}

#home-slide-2 .slide-img{width: 123.4%; bottom: 0; right: -24%;transition: all .5s ease;}
#home-slide-2.old .slide-img{right: 0;}
#home-slide-2 .slide-label{left:10%;transition: all .5s ease;}
#home-slide-2.old .slide-label{left:-20%;}

#home-slide-3 .slide-img{width: 81.7%; bottom: 0; left: 0}
#home-slide-3 .slide-label{right:0%}

#home-slide-4 .slide-img{width: 140.99%; bottom: 0; left: -20%; }
#home-slide-4.current .slide-img{left: -52%;transition: all 1s ease;}
#home-slide-4 .slide-label{right:0%}

#home-slide-5 .slide-img{width: 100%; bottom: 0; left: 0}
#home-slide-5 .slide-label{left:10%}

#home-prev.prev-icon {left: 10%; top: 80%}
#home-next.next-icon {right: 10%; top: 80%}

/* === BELOW LINKS === */

#below-links{margin: 0 64px; padding: 30px; border-bottom: 1px solid #f3f6f7}
.below-item{width: 24%; margin-right: 1%; float: left}
.below-icon{height: 80px; text-align: center;white-space: nowrap;}
.below-icon span{height: 100%; display: inline-block;  vertical-align: middle;}

.below-icon img{ vertical-align: middle; transition: all .5s ease;}
.rotate:hover img{transform: rotate(-1000deg);}
.rotate-right:hover img{transform: scale(1.1) rotate(10deg);}
.rotate-left:hover img{transform: scale(1.1) rotate(-10deg);}
.scale img{height: 26px; width: 62px;}
.scale:hover img{ height: 26px; width: 50px;}


.below-title{font-size: 19px; color: #a3bcc4; text-align: center; margin-bottom: 20px}
.below-item a{font-size: 12px; color: #5376b1; line-height: 40px}


/* === HOME SOCIAL === */

#home-social{clear: both; margin-top: 30px; margin-left: 90px; font-size: 14px; line-height: 22px}
#home-social div{float: left; margin-right: 10px}
#home-social a{display: inline-block; margin-left: 30px}


/* === NEWS SLIDER === */
#home-news{background: #f3f6f7; margin-top: 20px}
#home-news .wrapper{padding: 30px 90px;}
#home-news-inner{position: relative;}
#home-news h1{font-size: 45px; color: #a3bcc4}
#home-news h2{font-size: 24px; color: #a3bcc4}
#news-slider{margin-right: -10px}
.news-item a{color: #747577; font-size: 12px}
.news-item{float:left; margin-right: 10px; width: 32%}
.news-image img{width: 100%}
.news-details{margin-bottom: 15px; font-size: 14px;}
.news-description{margin-bottom: 15px; color: #2a3137}
.slide-button{position: absolute; top: 50%; margin-top: -10px}

.slider-pagination{text-align: center;margin-top: 50px}
.slider-pagination a{display: inline-block; margin: 0 25px; color: #4d72ae; opacity: 0.5; font-size: 18px}
.slider-pagination a.selected{opacity: 1}

.prev-icon {left: -40px}
.next-icon {right: -40px}


/* === PRODUCTS SLIDER=== */

#home-products{padding: 30px 90px;}
#home-products-inner{position: relative;}
#product-items{position: relative}
#product-slider{margin-right: -10px}
#home-products h1{font-size: 45px; color: #a3bcc4}

.product-item{float: left; width: 25%}
.product-item img{width: 100%; display: block}
.product{position: relative;margin-right: 10px; margin-bottom: 10px}
.product-label{position: absolute;   background: rgba(163, 188, 196, 0.84); top: 0; left: 0; right: 0; bottom: 0; text-align: center; display: none}
.product:hover .product-label{display: block}
.product-label span{display: inline-block; width: 100%}
.product-label:after{content: " "; display: inline-block; height: 100%; vertical-align: middle}
.label-inner{display: inline-block; vertical-align: middle; color: #FFF}
.product-tile{font-size: 34px;}
.product-description{font-size: 15px;}



/* === NEWS PAGE=== */

#news-page{background: #f9fafb; padding-bottom: 150px}
#news-page h1{color: #a3bcc4; font-size: 36px}

#news-page .wrapper{padding: 0 10px;}
#news-page-inner{ padding-right: 100px; margin-right:400px; margin-top: 30px; position: relative; border-right: 1px solid #DDD;}
#news-page-content{max-width: 535px; float: right; width: 100%; margin-bottom: 50px}
.news-page-item{margin-bottom: 80px}

.news-page-social{clear: both; margin: 30px 0; font-size: 14px; line-height: 22px;}
.news-page-social div{float: left;}
.news-page-social a{display: inline-block; margin-left: 30px}

.news-page-slide-wrapper img{width: 100%}
.news-page-slider{position: relative}

.news-page-slider .prev-icon {left: 20px}
.news-page-slider .next-icon {right: 20px}

#news-pagination{display: block !important;}
#news-page-sidebar{position: absolute; left: 100%; top: 50px; padding-left: 100px; width: 300px}
#news-page-sidebar ul{list-style: none; margin: 0; padding: 0}
#news-page-sidebar li a{line-height: 25px; font-size: 14px; font-style: italic; color: #333}
#news-page-sidebar h2{color: #333; font-size: 24px}

#search-form{position: relative; margin-right: 43px; border: 2px solid #FFF}
#search-text{width: 100%; height: 43px; border: none; background: none; padding: 0 10px}
#search-submit{position: absolute; top: 0; left: 100%; width: 43px; height: 43px; border: none; background: url("../images/layout/search-icon.png")}




/* === FOOTER=== */

#footer{background: #24272a; font-size: 14px;}
#foot-wrapper{background:  url("../images/layout/foot-logo.png") left top  no-repeat; padding: 0 90px}
#contact{float: right; clear: both; margin: 50px 0}
#contact h3{font-size: 24px}
#contact span{display: block; margin-top: 20px; color: #FFF}
#copyright{margin-bottom: 20px; font-size: 10px}









